[core]
    editor = vim
[user]
    name = Nick Smith
    email = nick.smith@cern.ch
    github = nsmith-
[alias]
    s = status
    st = status -uno
    c = commit
    b = branch --verbose
    co = checkout
    unstage = reset HEAD --
    l = log --decorate --stat
    graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"
[push]
	default = current
[pull]
	rebase = true
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential
